@using Powers.HappyEvent.Shared
@inject NavigationManager NavigationManager
<Card class="box" Title="@Data.Name">
    <Extra>
        <a @onclick="NavigateTo">参加>></a>
    </Extra>
    <Body>
        <p>@Data.Description</p>
    </Body>
</Card>

<style>
    .box {
        border-radius: 20px;
        margin-bottom: 10px;
    }
</style>

@code {
    [Parameter]
    public HappyActiveEvent Data { get; set; } = new();

    protected void NavigateTo()
    {
        NavigationManager.NavigateTo($"/index/{Guid.NewGuid()}");
    }
}
