@using Powers.HappyEvent.Shared
@inject NavigationManager NavigationManager

@if (User.IsAdmin)
{
    <Card class="box" Title="@Data.Name">
        <Extra>
            <a @onclick="NavigateTo">参加>></a>
        </Extra>
        <ChildContent>
            <CardMeta Description="@Data.Description" />
        </ChildContent>

        <ActionTemplate>
            <CardAction>
                <Icon Type="delete" OnClick="()=>{}"></Icon>
            </CardAction>
        </ActionTemplate>
    </Card>
}
else
{
    <Card class="box" Title="@Data.Name">
        <Extra>
            <a @onclick="NavigateTo">参加>></a>
        </Extra>
        <ChildContent>
            <CardMeta Description="@Data.Description" />
        </ChildContent>
    </Card>
}

<style>
    .box {
        border-radius: 20px;
        margin-bottom: 10px;
    }
</style>

@code {
    [Parameter]
    public HappyActiveEvent Data { get; set; } = new();

    [Parameter]
    public User User{ get; set; } = new();

    protected void NavigateTo()
    {
        NavigationManager.NavigateTo($"/index/{Data.Id}");
    }
}
